services:
  react:
    build:
      dockerfile: ./Dockerfile
    container_name: react_app_09
    ports:
      - "3000:3000"
    
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true

volumes:
  node_modules: